@import './scss/Main';

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  background-color: #FAFBFE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container { 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  // For Small Mobile Devices
  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    width: 90%;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    width: 80%;
  }
}

.title {
  font-size: 20px;
  margin: 20px auto 10px auto;
}
