@import './scss/Main';

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Jura', sans-serif;
  font-weight: bold;
  background-color: #FAFBFE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container { 
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  // For Small Mobile Devices
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    width: 100%;
  }
}
